/* != Image Object styles */


.ob_Image {
  line-height: 0;

  img {
    max-width:100%;
    height:auto;
  }

  &--loaded {
    opacity: 0;
    transition:opacity 1s ease;
  }

  &--displayed {
    opacity: 1;
  }

  &.is_Hidden {
    display: none;
  }
}
