/* != Image Object styles */


.ob_Image {
  line-height: 0;
  opacity: 0;

  img {
    max-width: 100%;
    height: auto;
  }


  &--loaded {
    opacity: 0;
    transition: opacity 1s ease;
  }

  &--displayed,
  &--hasPlaceholder {
    opacity: 1;
  }

  &--isHidden {
    display: none;
  }
}